body {
  font-family: "DM Sans", sans-serif;
  margin: auto;
  max-width: 1440px;
}

#contact_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: white;
}


.logo {
  width: 200px;
  height: 50px;
  margin: 43px 0 40px 100px;
}

.photographer-header {
  display: flex;
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}
.photographer-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.photographer-card img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin: auto 50px auto 0;
}
.photographer-tagline {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  margin: 18px 0 0 0;
  color: #525252;
}
.photographer-location {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  margin: 18px 0 0 0;
  color: #901c1c;
}
.photographer-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
}
h2 {
  font-weight: 400;
  font-size: 4em;
  line-height: 100%;
  color: #d3573c;
  margin: 0;
}

.contact_button {
  font-size: 1.25em;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  margin-top: 2%;


  max-height: 80vh;
  overflow-y: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
  padding-bottom: 70px;
}

.modal header h2 {
  font-size: 4em;
  font-weight: normal;
  color: #000000;

}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 2.25em;
  font-weight: 400;
  padding:0;
  margin: 0;

}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
 
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
article {
  display: flex;
}

h2,
p {
  display: inline;
}

/***************** Media *******************/
.media {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 100px 0 100px;
}

.media-card {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 351px;
  margin-bottom: 20px;
}

.media::after {
  content: "";
  width: 350px;
  height: 0;
}
.media-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}
.media-card img {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}
h3 {
  margin: 0;
  font-weight: 400;
  font-size: 1.313em;
  line-height: 100%;
  color: #901c1c;
  align-items: center;
}
.like-button {
  color: #901c1c;
  font-size: 1.313em;
  font-weight: 500;
  border:none;
  background-color: transparent;
}
i {
  margin-left: 4px;
}

/****** filter ******/

.select-dropdown {
  display: flex;
  margin-left: 100px;
  margin-top: 9px;
}
label {
  font-weight: 700;
  font-size: 18px;
  margin: 11px 25px 35px 0;
}
.custom-select {
  position: relative;
  width: 195px;
}

.dropbtn {
  width: 100%;
  height: 58px;
  background: #901c1c;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  cursor: pointer;
}

.custom-select ul {
  width: 100%;
  background: #901c1c;
  color: white;
  border: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
  position: absolute;
  z-index: 1000;
  left: 0;
  top: calc(100% - 12px);
}

.custom-select {
  position: relative;
}

.custom-select ul.show {
  display: block;
}

.custom-select li {
  width: 85%;
  height: 58px;
  display: flex;
  align-items: center;
  margin-left: 10%;
  padding: 0;
  cursor: pointer;
  border-top: 3px solid white;
  transition: background-color 0.3s;
}

.custom-select li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.chevron {
  transition: transform 0.3s;
}

.chevron.rotate {
  transform: rotate(180deg);
}

/* total */
.total-price {
  display: flex;
  background-color: #db8876;
  font-weight: 500;
  font-size: 1.5em;
  text-align: right;
  gap: 100px;
  height : 39px;
  align-items: center;
  position: fixed;
  bottom:0;
  right: 30px;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
/* Modal */
.modal header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  
  
}
.formData {
  width:100%;
}
.text-control {
  width:100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
.btn-submit {
  width: 170px;
  height: 69px;
  background: #901c1c;
  border-radius: 5px;
  border:none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-top:30px;
}
#message {
  height:170px;
}
/* lightbox */
#lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  flex-direction: column;
}
.lightbox-title {
  font-weight: 400;
  font-size: 24px;
  color: #901C1C;
  margin-top: 20px;
  align-self: flex-start;
  
}

.lightbox-image,
.lightbox-video {
  
  max-height: 90%;
  display: none;
}

.close-lightbox {
  position: absolute;
  top: 80px;
  right: 20px;
  color: #901C1C;
  cursor: pointer;
  font-size: 42px;
}


.prev-lightbox,
.next-lightbox {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #901C1C;
  cursor: pointer;
  font-size: 48px;
 
}

.prev-lightbox {
  left: 20px;
  right: auto;
}

.next-lightbox {
  right: 20px;
}
.lightbox-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100%;
}


/* liked */
.likes-count {
  margin-right: 3px; 
}
.likes-container.liked {
  cursor: default;
}

.like-button.liked .fa-heart {
  color: #DB8876;
}